
:root {
    /*Colors*/
    --navyblue: #2E2F42;
    --white: #fff;
    --iris: #4D5AE5;
    --slate: #434455;             
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --cornflower: #E7E9FC; 

    /*Fonts*/
    --font-logo: 'Raleway';
    --font-general: 'Roboto';
}

/*Global*/
body {
    margin: 0;
    padding: 0;
    color: var(--navyblue);
    font-family: var(--font-general);
    
}
h1 {
    font-family: var(--font-general);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
}

li {
    list-style: none;
}
h1, h2 {
    text-align: center;
}

a {
    text-decoration: unset;
    color: inherit;
}


/*----------Studio Page----------*/
a.logo {
    font-family: var(--font-logo);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    line-height: 21px;
}

a.logo:first-child {
    color: var(--iris);
}

nav a.logo span:nth-child(2) {
    color: var(--navyblue);
}

nav ul {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.32px;
}

nav .active {
    color: var(--iris);
}

address {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}
.hero-section {
    background-color: var(--navyblue);
    color: var(--white);
}

.hero-section button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 0;
    color: var(--white);
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

img {
    width: 360px;
    height: 388px;
}

/*Our Team*/
.team-section {
    background-color: var(--cloud);
}

.team-section h3, .team-section p {
    text-align: center;
}

.footer-section {
    background-color: var(--navyblue);
}

.footer-section a.logo span:nth-child(2) {
    color: var(--cloud);
}

.footer-section p {
    color: var(--cloud);
}

/*----------Portfolio Page----------*/

.filter-section button {
    color: var(--iris);
    font-weight: bold;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    background: var(--cloud);
}

.filter-section .selected {
    background-color: var(--iris);
    color: var(--white);
}