:root {
    /*Colors*/
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --black: black;
    --ocean: #404BBF;
    --white: #fff;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
    
    /*Fonts*/
    --font-logo: 'Raleway';
    --font-general: 'Roboto';
}

/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--navyblue);
    font-family: var(--font-general); 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    border: unset;
    outline: none;
    cursor: pointer;
}
h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
}


h1, h2 {
    text-align: center;
}




/*----------Studio Page----------*/
/*Navigation Tab*/
.header {
    color: var(--white);
    border-bottom: 1px solid var(--cornflower);
}
a.logo {
    font-family: var(--font-logo);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    line-height: 21px;
}

a.logo:first-child {
    color: var(--iris);
}

nav a.logo span:nth-child(2) {
    color: var(--navyblue);
}
.nav-list {
    color: var(--grey);
    width: 1440px;
    height: 72px;
}

.nav-list .nav-list-item {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address-list {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.address-list .address-list-item {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-list-item:hover,
.address-list-item:hover {
    color: var(--ocean);
}

/*Herro Section*/
.hero-section {
    background-color: var(--navyblue);
    color: var(--white);
}

.hero-section button {
    text-transform: capitalize;
    border-radius: 4px;
    background: var(--iris);
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 16px 32px;
}

img {
    width: 360px;
    height: 388px;
}

/*Our Team*/
.team-section {
    background-color: var(--cloud);
}

.team-section h3, .team-section p {
    text-align: center;
}

.footer-section {
    background-color: var(--navyblue);
}

.footer-section a.logo span:nth-child(2) {
    color: var(--cloud);
}

.footer-section p {
    color: var(--cloud);
}

/*----------Portfolio Page----------*/

.portfolio-item-button-type {
    text-transform: capitalize;
    border-radius: 4px;
    background: var(--cloud);
    color: var(--iris);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    
}

.portfolio-item-button-type:hover {
    background: var(--ocean);
    color: var(--white);
    border-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

